

<section id="benefits" class="benefits">
	<div class="containerbenefits">
		<div class="benefits-grid">
			<div class="benefit-card animate-on-scroll">
				<div>
					<img src="images/icons/iconQuality_100x100.png" alt="Support Icon" class="benefit-icon" style="background-size: 60px;">
				</div>
				<h3>Висока якість</h3>
				<p>Професійне обладнання та досвідчена команда.</p>
			</div>
			<div class="benefit-card animate-on-scroll delay-1">
				<div>
					<img src="images/icons/iconTime_100x100.png" alt="Support Icon" class="benefit-icon" style="background-size: 60px;">
				</div>
				<h3>Швидкі терміни</h3>
				<p>Виконання проектів точно в строк</p>
			</div>
			<div class="benefit-card animate-on-scroll delay-2">
				<div>
					<img src="images/icons/iconSupport_100x100.png" alt="Support Icon" class="benefit-icon" style="background-size: 60px;">
				</div>
				<h3>Підтримка 24/7</h3>
				<p>Завжди на зв'язку з клієнтами</p>
			</div>
		</div>
	</div>
</section>