<section id="portfolio" class="portfolio">
	<div class="container-portfolio">
		<h2 class="section-title animate-on-scroll">Портфоліо</h2>
		<div class="portfolio-grid">
			<div class="portfolio-item animate-on-scroll" data-category="photo">
				<div class="portfolio-image">
					<img src="images/StockPhoto/IMG_5700.jpg" alt="Рекламна фотозйомка">
					<div class="portfolio-overlay">
						<h3>Рекламна фотозйомка</h3>
						<p>Професійна фотозйомка для реклами</p>
						@* <a href="#" class="portfolio-link">Детальніше</a> *@
					</div>
				</div>
			</div>

			<div class="portfolio-item animate-on-scroll" data-category="video">
				<div class="portfolio-image">
					<img src="images/StockPhoto/IMG_5703.jpg" alt="Відеореклама">
					<div class="portfolio-overlay">
						<h3>Відеореклама</h3>
						<p>Створення рекламних роликів</p>
						@* <a href="#" class="portfolio-link">Детальніше</a> *@
					</div>
				</div>
			</div>

			<div class="portfolio-item animate-on-scroll" data-category="photo">
				<div class="portfolio-image">
					<img src="images/StockPhoto/IMG_5721.jpg" alt="Корпоративна зйомка">
					<div class="portfolio-overlay">
						<h3>Корпоративна зйомка</h3>
						<p>Фотозйомка для бізнесу</p>
						@* <a href="#" class="portfolio-link">Детальніше</a> *@
					</div>
				</div>
			</div>

			<div class="portfolio-item animate-on-scroll" data-category="ads">
				<div class="portfolio-image">
					<img src="images/StockPhoto/IMG_4993.jpg" alt="Рекламна кампанія">
					<div class="portfolio-overlay">
						<h3>Рекламна кампанія</h3>
						<p>Комплексні рекламні рішення</p>
						@* <a href="#" class="portfolio-link">Детальніше</a> *@
					</div>
				</div>
			</div>

			<div class="portfolio-item animate-on-scroll" data-category="video">
				<div class="portfolio-image">
					<img src="images/StockPhoto/IMG_5345.jpg" alt="Промо-відео">
					<div class="portfolio-overlay">
						<h3>Промо-відео</h3>
						<p>Створення промо-роликів</p>
						@* <a href="#" class="portfolio-link">Детальніше</a> *@
					</div>
				</div>
			</div>

			<div class="portfolio-item animate-on-scroll" data-category="photo">
				<div class="portfolio-image">
					<img src="images/StockPhoto/IMG_5403.jpg" alt="Предметна зйомка">
					<div class="portfolio-overlay">
						<h3>Предметна зйомка</h3>
						<p>Фотозйомка товарів</p>
						@* <a href="#" class="portfolio-link">Детальніше</a> *@
					</div>
				</div>
			</div>
		</div>
	</div>
</section>