<section id="testimonials" class="testimonials">
    <div class="container-testimonials">
        <h2 class="section-title animate-on-scroll">Відгуки клієнтів</h2>
        <div class="testimonials-slider">
            <div class="testimonial-card animate-on-scroll">
                <div class="testimonial-content">
                    <p>"Надзвичайно професійна команда! Результат перевершив усі очікування."</p>
                </div>
                <div class="testimonial-author">
                    <img src="images/People/PeopleWomen1.jpg" alt="Клієнт 1">
                    <div class="author-info">
                        <h4>Олена Петренко</h4>
                        <p>Маркетинг-директор, Company Name</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="testimonial-card animate-on-scroll">
            <div class="testimonial-content">
                <p>"Дуже крута фотосесія, все супер"</p>
            </div>
            <div class="testimonial-author">
                <img src="images/People/PeopleMen1.jpg" alt="Клієнт 1">
                <div class="author-info">
                    <h4>Олександро Сарченко</h4>
                    <p>Клієнт.</p>
                </div>
            </div>
        </div>
        <!-- Додати ще відгуки тут -->
    </div>

</section>