/* Глобальні стилі */

:root {
    --primary-color: #2c3e50;
    --secondary-color: #e74c3c;
    --accent-color: #3498db;
    --text-color: #333;
    --text-light: #666;
    --background-light: #f8f9fa;
    --background-dark: #2c3e50;
    --transition: all 0.3s ease;
    --border-radius: 8px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
}

/* Глобальні стилі */



/*Скролбар*/

body {
    overflow-x: hidden;
    overflow: auto;
}

::-webkit-scrollbar {
    display: none;
}

/*Скролбар*/



/* Анімації */
.animate-on-scroll {
    opacity: 0;
    transform: translateY(30px);
    transition: var(--transition);
}

    .animate-on-scroll.visible {
        opacity: 1;
        transform: translateY(0);
    }

.delay-1 {
    transition-delay: 0.2s;
}

.delay-2 {
    transition-delay: 0.4s;
}











