/*.container-upload {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 1rem;
}

.upload-instruction {
    font-size: 16px;
    color: #666;
    margin-bottom: 1rem;
}

.file-input-wrapper {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 100px;
    border: 2px dashed #333;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 10px;*/ /* додано для розмежування між вибраними фото */
/*}

    .file-input-wrapper:hover {
        border-color: #007bff;
    }

.file-input-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    font-size: 18px;
}

#fileInput {
    display: none;
}

.preview-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
    align-items: center;*/ /* Вирівнювання фото по центру в одному рядку */
/*}

.preview-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #ddd;
}

#message {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

    button:hover {
        background-color: #0056b3;
    }

.btn-primary {
    background-color: #007bff;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }*/
